[place='city'] [@scale<10000000] {
  label: [name];
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  halo-color: white;
  halo-radius: 1;
 }

[place='town'] [@scale<100000] {
  label: [name];
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  halo-color: white;
  halo-radius: 1;
 }