/* ###############################*/
/*    Zoom < 1,000,000                            */
/* ###############################*/

[@scale < 1000000]{
   stroke-linecap: round;
   font-family: Arial;
   font-weight: bold;
   font-fill: white;
   font-size: 14;
   halo-color: black;
   halo-radius: 1;
   -gt-label-follow-line: true;
   -gt-label-max-angle-delta: 90;
   -gt-label-max-displacement: 400;
}

/* ###############################*/
/*  Zoom > 100001 < 1,000000               */
/* ###############################*/

/* @title Secondary */
[@scale > 100001][@scale < 1000000] [highway = 'secondary'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #f8d5a9;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 4, 5;
 }

/* @title Primary */
[@scale > 100001] [@scale < 1000000] [highway = 'primary'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #cc8e8f;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 6, 7;
 }

/* @title Trunk */
[@scale > 100001] [@scale < 1000000] [highway = 'trunk'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #88b788;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 8, 9;
 }

/* @title Motorway */
[@scale > 100001] [@scale < 1000000] [highway = 'motorway'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #7f95b3;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 10, 11;
 }

/* ###############################*/
/*             Zoom > 20,001 < 100,000       */
/* ###############################*/

/* @title Tertiary */
[@scale > 20001] [@scale < 100000][highway = 'tertiary'] {
   label: [name];
   z-index: 2, 3;
 }

/* @title Secondary */
[@scale > 20001] [@scale < 100000] [highway = 'secondary'] {
   label: [name];
   z-index: 4, 5;
 }

/* @title Primary */
[@scale > 20001] [@scale < 100000] [highway = 'primary'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #cc8e8f;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 6, 7;
 }

/* @title Trunk */
[@scale > 20001] [@scale < 100000] [highway = 'trunk'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #88b788;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 9,10;
}

/* @title Motorway */
[@scale > 20001] [@scale < 100000]  [highway = 'motorway'] {
   label: [ref];
   font-fill: white;
   font-size: 10;
   halo-color: #7f95b3;
   halo-radius: 6;
   -gt-label-follow-line: false;
   -gt-label-padding: 150;
   z-index: 10,11;
}


/* ###############################*/
/*                 Zoom < 20,000                    */
/* ###############################*/

/* @title Unclassified */
[@scale < 20000] [highway = 'unclassified'] {
   label: [name];
   z-index: 0, 1;
 }

/* @title Residential */
[@scale < 20000] [highway = 'residential'] {
   label: [name];
   z-index: 0, 1;
 }

/* @title Tertiary */
[@scale < 20000] [highway = 'tertiary'] {
   label: [name];
   z-index: 2, 3;
 }

/* @title Secondary */
[@scale < 20000] [highway = 'secondary'] {
   label: [name];
   z-index: 4, 5;
 }

/* @title Primary */
[@scale < 20000] [highway = 'primary'] {
   label: [name];
   z-index: 6, 7;
}

/* @title Trunk */
[@scale < 20000] [highway = 'trunk']{
   label: [name];
   z-index: 9,10;
}

[@scale < 20000] [highway = 'trunk_link'] {
   label: [name];
   z-index: 9,10;
}

/* @title Motorway */
[@scale < 20000] [highway = 'motorway'] {
   label: [name];
   z-index: 8,9;
}

[@scale < 20000] [highway = 'motorway_link'] {
   label: [name];
   z-index: 8,9;
}