[@scale < 10000000] {
 
   mark: symbol(circle);
   mark-size: 4px;
   fill: red;
   stroke: black;
   stroke-width: 1px; 
   label: [NAME];
   font-fill: black;
   font-family: Arial;
   font-size: 10;
   font-weight: bold;
   label-anchor: 0.5 0;
   label-offset: 0 5;

 }

[@scale < 36000000] [FEATURECLA = 'Admin-0 capital'] {
 
   mark: symbol(star);
   mark-size: 12px;
   fill: red;
   stroke: black;
   stroke-width: 0.5px; 
   label: [NAME];
   font-fill: white;
   font-family: Arial;
   font-size: 10;
   font-weight: bold;
   halo-color: black;
   halo-radius: 1.5;
   label-anchor: 0.5 0;
   label-offset: 0 5;

 }