[@scale < 1000000]{
   font-family: Arial;
   font-weight: bold;
   font-fill: white;
   font-size: 10;
   halo-color: black;
   halo-radius: 0.5;
   -gt-label-follow-line: true;
   -gt-label-max-angle-delta: 90;
   -gt-label-max-displacement: 400;
   stroke-width: 1;
}

/* --- Parks, woods, other green things --- */

/* @title Forest */
[@scale < 20000000] [landuse = 'forest']{  
   fill: #a0cf85; 
}

/* @title Grass */
[@scale < 20000000] [landuse = 'grass']{  
   fill: #cfeca8; 
}

/* @title Golf Course */
[@scale < 20000000] [landuse = 'golf_course']{  
   fill: #b5e3b5; 
}

/* @title Park */
[@scale < 20000000] [landuse = 'park']{  
   fill: #cdf7c9; 
}

/* @title Wood */
[@scale < 20000000] [landuse = 'wood' or landuse = 'wooded' or landuse = 'woodland']{  
   fill: #aed1a0; 
}

/* @title Vineyard */
[@scale < 20000000] [landuse = 'vineyard']{  
   fill: #b3e2a8; 
}

/* @title Grassland */
[@scale < 20000000] [landuse = 'grassland']{  
   fill: #c6e4b4; 
}

/* --- sports --- */

/* @title Stadium */
[@scale < 20000000] [landuse = 'sport_centre' or landuse = 'sports_centre']{  
   label: [name];  
   fill: #3c9; 
}

/* @title Track */
[@scale < 20000000] [landuse = 'track']{  
   fill: #74dcba; 
}


/* --- "base" landuses --- */

/* @title Residential */
[@scale < 20000000] [landuse = 'residential']{
   label: [name];   
   fill: #E1E1E1; 
   stroke: #B9B9B9;
}

/* @title Retail */
[@scale < 20000000] [landuse = 'retail']{
   label: [name];   
   fill: #FFD6D1; 
   stroke: #D99C95;
}

/* @title Commercial */
[@scale < 20000000] [landuse = 'commercial']{
   label: [name];   
   fill: #F2DAD9; 
   stroke: #D1B2B0;
}

/* @title Industrial */
[@scale < 20000000] [landuse = 'industrial']{
   label: [name];   
   fill: #EBDBE8; 
   stroke: #C6B3C3;
}

/* @title Railway */
[@scale < 20000000] [landuse = 'railway']{
   label: [name];   
   fill: #EBDBE8; 
   stroke: #C6B3C3;
}

/* @title Farmland */
[@scale < 20000000] [landuse = 'farmland']{
   label: [name];   
   fill: #EDDDC9; 
   stroke: #C8B69E;
}

/* --- Other --- */

/* @title Aerodrome */
[@scale < 20000000] [landuse = 'aerodrome']{
   label: [name];   
   fill: #e9e7e2; 
}

/* @title Allotments */
[@scale < 20000000] [landuse = 'allotments']{
   label: [name];   
   fill: #e5c7ab; 
}

/* @title Bare Ground */
[@scale < 20000000] [landuse = 'bare_ground']{  
   fill: #eee5dc; 
}

/* @title Cemetery */
[@scale < 20000000] [landuse = 'cemetery' or landuse = 'grave_yard']{  
   label: [name]; 
   fill: #aacbaf; 
}

/* @title Construction */
[@scale < 20000000] [landuse = 'construction']{  
   label: [name]; 
   fill: #b6b592; 
}

/* @title Danger Area */
[@scale < 20000000] [landuse = 'danger_area']{  
   fill: pink; 
}

/* @title Garage */
[@scale < 20000000] [landuse = 'garages']{  
   label: [name]; 
   fill: #dfddce; 
}

/* @title Heath */
[@scale < 20000000] [landuse = 'heath']{  
   label: [name]; 
   fill: #d6d99f; 
}

/* @title Parking */
[@scale < 20000000] [landuse = 'parking']{  
   label: [name]; 
   fill: #f7efb7; 
}

/* @title Place of Worship */
[@scale < 20000000] [landuse = 'place_of_worship']{  
   label: [name]; 
   fill: #cdccc9;
   stroke: #111; 
}

/* @title Playground */
[@scale < 20000000] [landuse = 'playground']{  
   label: [name]; 
   fill: #ccfff1;
}

/* @title Power */
[@scale < 20000000] [landuse = 'power']{  
   label: [name]; 
   fill: #bbb;
}

/* @title Rest Area */
[@scale < 20000000] [landuse = 'rest_area']{  
   label: [name]; 
   fill: #efc8c8;
}

/* @title Sand */
[@scale < 20000000] [landuse = 'sand']{  
   label: [name]; 
   fill: #f5e9c6;
}

/* @title School */
[@scale < 20000000] [landuse = 'school' or landuse = 'university' or landuse = 'college' ]{  
   label: [name]; 
   fill: #f0f0d8;
}

/* @title Station */
[@scale < 20000000] [landuse = 'station' ]{  
   label: [name]; 
   fill: #d4aaaa;
}

/* @title Scrub */
[@scale < 20000000] [landuse = 'scrub' ]{  
   label: [name]; 
   fill: #b5e3b5;
}

/* @title Orchard */
[@scale < 20000000] [landuse = 'orchard' ]{  
   label: [name]; 
   fill: #9ed88f;
}

/* @title Theme Park */
[@scale < 20000000] [landuse = 'theme_park' ]{  
   label: [name]; 
   fill: #734a08;
}

/* @title Quarry */
[@scale < 20000000] [landuse = 'quarry' ]{  
   label: [name]; 
   fill: #c5c3c3;
}

/* @title Military */
[@scale < 20000000] [landuse = 'military' ]{  
   label: [name]; 
   fill: #f55;
}

/* @title Zoo */
[@scale < 20000000] [landuse = 'zoo' ]{  
   label: [name]; 
   fill: #a4f3a1;
}

/* @title Beach */
[@scale < 20000000] [landuse = 'beach' ]{  
   label: [name]; 
   fill: #fff1ba;
}